*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* inizio menu */
.menu{
    width: 350px;
    height: 30px;
    
    position: absolute;
    right: 90px;
    top: 20px;
    position: fixed;
    z-index: 1;
}
.alto{
  display: inline-block;
  margin-left: 50px ;

}
.alto-sinistra{
    
    display: inline-block;
  margin-left: 50px ;
  
  padding: 15px;
  background-color: white;
  border-radius:80% ;
  width: 45px;
  height: 45px;
  text-align: center;
  text-decoration: none;
}
.alto-centro{
    display: inline-block;
    margin-left: 50px ;
    
    padding: 15px;
    background-color: white;
    border-radius:80% ;
    width: 45px;
    height: 45px;
    text-align: center;
    text-decoration: none;  
}
.alto-destra{
    display: inline-block;
    margin-left: 50px ;
    
    padding: 15px;
    background-color: white;
    border-radius:80% ;
    width: 45px;
    height: 45px;
    text-align: center;
    text-decoration: none;   
}

/* inizio prima schermata */
.red{
    height: 100vh;
    width: 100%;
    background-color: red;
    position: relative;
}
.red img{
   position: absolute; 
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.prima-foto{
    position: relative;
}
  .descrizione{
      
    position: absolute; 
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
   font-size: 50px;
   text-transform: uppercase;
   color: yellow;
   text-shadow: 1px 1px black;
}
.layover{
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.5);
}
.red:hover .layover{
    background-color: transparent;
}
/* inizio seconda schermata */
.green{
    height: 100vh;
    width: 100%;
    background-color:green;
    position: relative;
}
.green img{
    position: absolute; 
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.green:hover .layover{
    background-color: transparent;
}
.yellow img{
    position: absolute; 
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
/* inizio terza schermata */
.yellow{
    height: 100vh;
    width: 100%;
    background-color:yellow;
    position: relative; 
}
.yellow:hover .layover{
    background-color: transparent;
}
.descrizione-verde{
      
    position: absolute; 
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
   font-size: 50px;
   text-transform: uppercase;
   color:green;
   text-shadow: 1px 1px black;
}